slide-container {
  width: 70%;
  margin: auto;
}

.each-slide>div {
  margin: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-size: cover;
  height: 700px;
}

.Search {
  border: 1px solid rgb(192, 192, 235);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 7px;
  background-color: aquamarine
}