slide-container {
  width: 70%;
  margin: auto;
}

.each-slide>div {
  margin: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-size: cover;
  height: 700px;
}

.Search {

  margin: 700px;
  border: 2px solid blue;
  border-radius: 7px;
}